/**
 * This file is part of course_toolbar Moodle block plugin.
 *
 * course_toolbar is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * course_toolbar is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Knowledgegate.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @package course_toolbar
 * @author Nicolas Daugas <nicolas.daugas@ac-versailles.fr>
 * @copyright 2020 Académie de Versailles
 * @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
.block_course_toolbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    border: solid grey 1px;
}

.block_course_toolbar .hidden {
    display: none !important;
}

/*.block_course_toolbar .course-toolbar-notification.fade {
    transition: opacity 0.5s ease-in;
}*/

.block_course_toolbar .loading-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    background-color: white;
}

.block_course_toolbar .loading-icon img.icon {
    margin: auto;
}

.block_course_toolbar .content.at-header {
    padding-top: 0;
    margin-right: -14px;
    margin-left: 0;
    height: 6em;
    margin-bottom: 50px;
}

#course_toolbar_categories_bar {
    background-color: white;
    border-bottom: solid lightgrey 1px;
    cursor: pointer;
    background-color: #F5F5F5;
}

#course_toolbar_categories_bar.at-header {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.block_course_toolbar .list-group-item {
    margin-bottom: 0;
}

.block_course_toolbar .list-group-item:first-child,
.block_course_toolbar .list-group-item:last-child {
    border-radius: unset;
    margin-bottom: 0;
}

.block_course_toolbar #course_toolbar_categories_bar .active.at-header {
    background-color: white;
    color: black;
    border-bottom: dodgerblue solid 2px;
}

.block_course_toolbar .category {
    border-left: solid 1px grey;
}

#course_toolbar_tools_content {
    background-color: white;
    opacity: 1;
}

#course_toolbar_tools_content.at-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.block_course_toolbar .category-title {
    background-color: transparent;
}

.block_course_toolbar .category-title.at-header {
    display: inline-block;
    width: auto;
    border: none;
}

.block_course_toolbar .elements_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.block_course_toolbar .elements_list.at-header {
    flex-direction: row;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
}

.block_course_toolbar .panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: solid 1px lightgrey ;
    border-right: none;
}


.block_course_toolbar .panel.at-header {
    padding-right: 16px;
    padding-left: 16px;
    border-right: solid 1px lightgrey;
    border-bottom: none;
}

.block_course_toolbar .panel.favorites {
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    #course_toolbar_tools_content.at-header {
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }

    .block_course_toolbar .panel.favorites,
    .block_course_toolbar .panel.at-header {
        flex-wrap: nowrap;
    }
}

.block_course_toolbar .element .btn {
    margin: 5px;
}

.block_course_toolbar .icon {
    width: 32px;
    height: auto;
    margin: 4px;
}

.block_course_toolbar .favorites.first .icon {
    width: 64px;
}

#course_tool_bar_parameters {
    display: none;
}

#course_tool_bar_notifications {

}