<!--/**
* This file is part of course_toolbar Moodle block plugin.
*
* course_toolbar is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* course_toolbar is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Knowledgegate.  If not, see <http://www.gnu.org/licenses/>.
*
* @package course_toolbar
* @author Nicolas Daugas <nicolas.daugas@ac-versailles.fr>
* @copyright 2020 Académie de Versailles
* @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
*/-->
<div>
    {{> core/loading }}
    <div id="course_tool_bar_parameters">
        {{#params}}
            <input type="hidden" id="course_toolbar_{{ name }}" value="{{ value }}"/>
        {{/params}}
    </div>
    <div id="course_toolbar_categories_bar">
        {{#categories}}
            <div class="category-title list-group-item list-group-item-action" data-course-toolbar-id="{{ id }}"> {{ title }}</div>
        {{/categories}}
    </div>
    <div id="course_toolbar_tools_content">
        {{#categories}}
            <div class="elements_list hidden" data-course-toolbar-id="{{ id }}">
                {{#panels}}
                    <div class="panel {{ cssclass }}">
                        {{#elements}}
                            <span class="element">
                                {{#modulecreation}}
                                    <a href="{{ url }}" class="{{ cssclass }}">{{#pix}}icon, {{ modulename }}, {{ alt }}{{/pix}}  </a>
                                {{/modulecreation}}
                                {{#action}}
                                    <div class="course-toolbar-action">
                                        <a href="#" class= "element-action btn btn-secondary {{ specificcssclass }}" onclick="courseToolbarAction(event, '{{ action }}')">
                                            {{#icon}}
                                                {{#pix}}icon, {{ icon }}{{/pix}}
                                            {{/icon}}
                                            {{#text}}
                                                {{ text }}
                                            {{/text}}
                                        </a>
                                        {{#params}}
                                            <label for="{{ id }}">{{ label }}</label>
                                            <input id="{{ id }}" type="{{ type }}" name="{{ name }}" value="{{ defaultvalue }}">
                                        {{/params}}
                                    </div>
                                {{/action}}
                                {{#link}}
                                    <a href="{{ url }}" class="element-link btn btn-secondary {{ extraclasses }}"> {{ text }}</a>
                                {{/link}}
                            </span>
                        {{/elements}}
                    </div>
                {{/panels}}
            </div>
        {{/categories}}
    </div>
</div>
<div id="course_toolbar_notification" class="notifications">
    {{#notification}}
        {{> core/notification_success}}
    {{/notification}}
    {{#error}}
        {{> core/notification_error}}
    {{/error}}
</div>
<div>
    {{ footer }}
</div>
